.button-div button {
    margin: 10px;
    padding: 10px;
    width: 100px;
    height: 50px;
    border: 5px solid black;
    border-radius: 5px;
    background-color: grey;
    color: white;
    font-size: 20px;
}

.dashboard-title, .display-title {
    margin: 10px;
    padding: 10px;
    border: 5px solid black;
    border-radius: 5px;
    background-color: grey;
    color: white;
    font-size: 25px;
}

.Welcome {
    color:darkslategrey;
}


.App {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: lightgrey;
}